@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-surface text-primary font-sans antialiased selection:bg-accent selection:text-white;
  }
}